.header {
    background-color: rgb(250, 209, 193);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    border: solid rgb(2, 2, 1) 1px;
}

.logo {
    margin: 5px;
    margin-left: 20px;
    border-radius: 3px;
    width: 100px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.body {}

.search {
    border: 1px solid rgb(167, 94, 94);
    border-radius: 2px;
    margin: 16px;
}

.card-container {

    display: flex;
    flex-wrap: wrap;

}


.res-card:hover {
    border: 1px solid rgb(25, 24, 24);
    background-color: rgb(199, 167, 228);
}

.res-card {
    background-color: rgb(157, 217, 149);
    border-radius: 5px;
    width: 215px;
    /* height: 300px; */
    padding: 3px;
    margin: 5px;
    cursor: pointer;

}

.card-img {
    width: 210px;
    height: 150px;
    margin: 3px;
    border-radius: 3px;
}

.footer>h1 {
    display: flex;
    justify-content: center;
}

.footer>h2 {
    display: flex;
    justify-content: center;
}

.filter {
    margin: 10px;
}

.shimmers-content {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    margin: 20px;
    background-color: rgb(157, 217, 149);
}

.filter {
    display: flex;
}

.colorofthis {
    text-decoration: none;
}